

@font-face {
    font-family: 'iransans';
    src: url('https://cdn.snappfood.ir/pwa/assets/fonts/woff2/IRANSansWeb.eot'),
         url('https://cdn.snappfood.ir/pwa/assets/fonts/woff2/IRANSansWeb.woff2') format('woff'); 
    font-weight: normal;
    font-style: normal;
}

// my variables
/* Define standard variables and values for website */
$bgcolor: #fff;
$textcolor: #000;
$fontsize: 16px;

:root {
    --card-size: 100%;
	--img-size: 130px;
    --card-bg : rgb(255, 255, 255);
    --divider-color : rgba(58, 61, 66, 0.06);
    --alpha-carbon-grey:rgba(64, 64, 64, 0.04);
    --card-shadow :rgb(58 61 66 / 6%) 0px 1px 0px, rgb(0 0 0 / 30%) 0px 8px 32px -16px;
    --text-large:16px;
    --text-medium:14px;
    --text-small:12px;
    --font-regular:500;
    --font-family:'iransans';
    --text-color-light:#a3a3a3;
}

html, body, ul, ol {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    body {
        background-color: $bgcolor;
        color: $textcolor;
        font-size: $fontsize;
    }
}
a {
    &{
        text-decoration: none;
        color:$textcolor;
    }
	&:hover {
		text-decoration: none;
	}
	&:active {
		text-decoration: none;
	}
}

h3{
    font-size: var(--text-large);
    font-weight: var(--font-regular);
    color: $textcolor;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    position: relative;
    width: unset;
    max-width: 100%;
    margin-left: 4px;
    text-overflow: ellipsis;
    line-height: 1.5;
}











